.calculator{
    text-align: center;
    border: 1px solid #2f2f2f;
    width: 250px;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
}

#buttons-container{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

#buttons-container button{
  margin: 0.4rem;
  width: 4rem;
  height: 2rem;
}