.app-container{
    display: flex;
}

.content{
    width: 100%;
}

.sidebar{
    min-height: 550px;
}

.post-cards{
    margin: 1rem 2rem;
    display: flex;
}

.post-cards span{
    margin: 0.1rem;
}

.create-post{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}